body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #555555;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.button {
    display: inline-block;
    width: 80%; /* ボタンの幅を揃える */
    max-width: 400px; /* 最大幅を設定 */
    min-width: 200px; /* 最小幅を設定 */
    text-align: center;
    margin: 10px auto; /* 中央に配置 */
    padding: 0.5em 1em;
    font-size: 20px;
    line-height: 3;
    text-decoration: none;
    font-weight: bold;
}

.button1 {
    color: #330000;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#cee7ff 3px, #cee7ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#cee7ff 3px, #cee7ff 7px);
}

.button1:hover {
    color: white;
    background: -webkit-repeating-linear-gradient(-45deg, #003366, #003366 3px,#888888 3px, #888888 7px);
    background: repeating-linear-gradient(-45deg, #003366, #003366 3px,#888888 3px, #888888 7px);
}

.button2 {
    color: #fff8dc;
    background: #006600;
    border-left: double 7px #ffd700;
    border-right: double 7px #ffd700;
}

.button2:hover {
    color: white;
    background: #002200;
    border-left: double 7px #fafd53;
    border-right: double 7px #fafd53;
}

.button3 {
    background: -moz-linear-gradient(#ffa012, #ff829b);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: linear-gradient(to right, #ffb03c, #ff708d);
    color: white;
}

.button3:hover {
    background: linear-gradient(to right, #ffb03c, #ff708d);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: -moz-linear-gradient(#ffa012, #ff829b);
    color: #6a5acd;
}
