body {
	font-family : sans-serif ;	/* ゴシック系全般（MS Pゴシック・平成ゴシック・ヒラギノゴシック・Osakaなど） */
	text-align : justify ;
	background-color : #eac683 ;
	color : #330000 ;
    display : flex ;
    justify-content : center ;
    font-size : 25px ;
}





.top {
    font-weight: bold;
    padding: 0.5em 1em;
    margin: 2em 0;
    background: -moz-linear-gradient(#ffa012, #ff829b);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: linear-gradient(to right, #ffb03c, #ff708d);
    color: #FFF;
    font-size : 30px ;
}
